In [1]:
import sqlite3

# Connect to the SQLite database
db_path = r'C:\Users\steve\Downloads\1602668798_SQLFiles_Tier_2_updated_10_13_2020 (1)\SQLFiles Tier 2\sqlite_db_pythonsqlite.db'
conn = sqlite3.connect(db_path)

# Create a cursor
cursor = conn.cursor()

In [2]:
'''
Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! 
'''

query = '''
SELECT f.name AS facility_name,
       SUM(
           CASE
               WHEN b.memid = 0 THEN b.slots * f.guestcost
               ELSE b.slots * f.membercost
           END
       ) AS total_revenue
FROM Facilities f
LEFT JOIN Bookings b ON f.facid = b.facid
GROUP BY f.name
HAVING total_revenue < 1000
ORDER BY total_revenue DESC;
'''

cursor.execute(query)
results = cursor.fetchall()

print("Facility Name\tTotal Revenue")
for row in results:
    print(f"{row[0]}\t{row[1]}")

Facility Name	Total Revenue
Pool Table	270
Snooker Table	240
Table Tennis	180

In [3]:
'''Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order'''

query = '''
SELECT m1.surname AS member_surname,
       m1.firstname AS member_firstname,
       m2.surname AS recommender_surname,
       m2.firstname AS recommender_firstname
FROM Members m1
LEFT JOIN Members m2 ON m1.recommendedby = m2.memid
ORDER BY member_surname, member_firstname;
'''
cursor.execute(query)
results = cursor.fetchall()


print(f"{'Member Name':<30} {'Recommender Name'}")
for row in results:
    member_name = f"{row[0]}, {row[1]}"
    recommender_name = f"{row[2]}, {row[3]}" if row[2] is not None else "N/A"
    print(f"{member_name:<30} {recommender_name}")

Member Name                    Recommender Name
Bader, Florence                Stibbons, Ponder
Baker, Anne                    Stibbons, Ponder
Baker, Timothy                 Farrell, Jemima
Boothe, Tim                    Rownam, Tim
Butters, Gerald                Smith, Darren
Coplin, Joan                   Baker, Timothy
Crumpet, Erica                 Smith, Tracy
Dare, Nancy                    Joplette, Janice
Farrell, David                 N/A
Farrell, Jemima                N/A
GUEST, GUEST                   N/A
Genting, Matthew               Butters, Gerald
Hunt, John                     Purview, Millicent
Jones, David                   Joplette, Janice
Jones, Douglas                 Jones, David
Joplette, Janice               Smith, Darren
Mackenzie, Anna                Smith, Darren
Owen, Charles                  Smith, Darren
Pinker, David                  Farrell, Jemima
Purview, Millicent             Smith, Tracy
Rownam, Tim                    N/A
Rumney, Henrietta              Genting, Matthew
Sarwin, Ramnaresh              Bader, Florence
Smith, Darren                  N/A
Smith, Darren                  N/A
Smith, Jack                    Smith, Darren
Smith, Tracy                   N/A
Stibbons, Ponder               Tracy, Burton
Tracy, Burton                  N/A
Tupperware, Hyacinth           N/A
Worthington-Smyth, Henry       Smith, Tracy

In [4]:
'''Q12: Find the facilities with their usage by member, but not guests'''

query = '''
SELECT f.name AS facility_name,
       SUM(b.slots) AS total_slots_used
FROM Facilities f
JOIN Bookings b ON f.facid = b.facid
WHERE b.memid != 0
GROUP BY f.name
ORDER BY total_slots_used DESC;
'''
cursor.execute(query)
results = cursor.fetchall()


print(f"{'Facility Name':<30} {'Total Slots Used'}")
for row in results:
    print(f"{row[0]:<30} {row[1]}")

Facility Name                  Total Slots Used
Badminton Court                1086
Tennis Court 1                 957
Massage Room 1                 884
Tennis Court 2                 882
Snooker Table                  860
Pool Table                     856
Table Tennis                   794
Squash Court                   418
Massage Room 2                 54

In [5]:
'''Q13: Find the facilities usage by month, but not guests'''

query = '''
SELECT strftime('%Y', b.starttime) AS year,
       strftime('%m', b.starttime) AS month,
       f.name AS facility_name,
       SUM(b.slots) AS total_slots_used
FROM Facilities f
JOIN Bookings b ON f.facid = b.facid
WHERE b.memid != 0
GROUP BY year, month, f.name
ORDER BY year, month, total_slots_used DESC;
'''

cursor.execute(query)
results = cursor.fetchall()

print(f"{'Year':<6} {'Month':<6} {'Facility Name':<30} {'Total Slots Used'}")
for row in results:
    print(f"{row[0]:<6} {row[1]:<6} {row[2]:<30} {row[3]}")

Year   Month  Facility Name                  Total Slots Used
2012   07     Tennis Court 1                 201
2012   07     Massage Room 1                 166
2012   07     Badminton Court                165
2012   07     Snooker Table                  140
2012   07     Tennis Court 2                 123
2012   07     Pool Table                     110
2012   07     Table Tennis                   98
2012   07     Squash Court                   50
2012   07     Massage Room 2                 8
2012   08     Badminton Court                414
2012   08     Tennis Court 2                 345
2012   08     Tennis Court 1                 339
2012   08     Snooker Table                  316
2012   08     Massage Room 1                 316
2012   08     Pool Table                     303
2012   08     Table Tennis                   296
2012   08     Squash Court                   184
2012   08     Massage Room 2                 18
2012   09     Badminton Court                507
2012   09     Pool Table                     443
2012   09     Tennis Court 1                 417
2012   09     Tennis Court 2                 414
2012   09     Snooker Table                  404
2012   09     Massage Room 1                 402
2012   09     Table Tennis                   400
2012   09     Squash Court                   184
2012   09     Massage Room 2                 28

In [6]:
# Close the connection
conn.close()